doctype html
head
	meta(charset='utf-8')
	title index

	link(rel='stylesheet' href='static/index.css')
	script(src='static/index.js')
body
	include some
	include /other/some

	.dev= dev
	.test= test
	.final= final
	.hash= hash
	.instance= instance
	.custom= custom_opt

	if dev
		.dev Yes

	.bg.img1
	img(src='static/assets/red.png')
	.bg.img2
	img(src='static/assets/dir/violet.png')
	.bg.img3
	img(src='static/assets/index/green.png')
	.bg.img4
	img(src='static/assets/index/dir/blue.png')

	a(href='localhost:8080/static/assets/red.png')
